<%- include('../partials/head') %> <%- include('nav') %>
<div class="container">
  <h1 class="mb-1"><%= article.title %></h1>
  <a href="/articles" class="btn btn-secondary">All Articles</a>
  <a href="/articles/<%= article.id %>/edit" class="btn btn-info">Edit</a>
  <div>
    <%= article.description%> <%=markdown%><%= article.createdAt%>
  </div>
  <hr class="solid" />
  <h2>Comment</h2>
  <% if (article.comments.length) { %>
  <table>
    <tbody>
      <% article.comments.forEach(function(c) { %>
      <tr>
        <td><%= c.content %></td>
        <% if (c.like) { %>
        <td>😃</td>
        <% } else { %>
        <td></td>
        <% } %>
        <td><%= c.createdAt.toLocaleDateString() %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <br />
  <h5>No Comments Yet</h5>
  <% } %>
  <hr class="solid" />
  <form
    id="add-review-form"
    method="POST"
    action="/articles/<%= article._id %>/comments"
  >
    <textarea class="commentbox" name="content"></textarea>

    <br />
    <input type="submit" value="Add Comment" />
    <label
      ><input type="checkbox" name="like" value="1" />SMASH THAT LIKE
      BUTTON!!!</label
    >
  </form>
</div>

<%- include('../partials/tail') %>
