<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title><%= title %>Brandon's blog</title>
  </head>
  <body>
    <%- include('nav') %>
    <div class="container">
      <h1 class="mb-1"><%= article.title %></h1>
      <div class="text-muted mb-2"></div>
      <a href="/" class="btn btn-secondary">All Articles</a>
      <a href="/articles/edit <%= article.id %>" class="btn btn-info">Edit</a>
      <div>
        <%= article.description%> <%= article.markdown%><%= article.createdAt%>
      </div>
      <br><br><h2>Comment</h2>
      <form id="add-review-form" method="POST"
        action="/articles/<%= article._id %>/comments">
        <label>Comment:</label>
        <textarea name="content"></textarea>
       
        </select>
        <input type="submit" value="Add Comment">
      </form>

      
      </div>
    </div>
  </body>
</html>
