<%- include('../partials/head') %> <%- include('../partials/nav') %>
<div class="container custom-container">
  <h1 class="mb-1"><%= article.title %></h1>
  <p>Written by: <%= article.author%></p>
  <hr class="solid" />
  <div>
    <%= article.description%>
    <br /><br /><%=article.markdown%> <br /><br />
    <%= article.createdAt%>
  </div>

  <% if(user.id == article.user) {%>

  <a href="/articles/<%= article.id %>/edit" class="btn btn-info">Edit</a>
  <%} %>
  <hr class="solid" />
  <h2>Comments</h2>
  <% if (article.comments.length) { %>
  <table>
    <tbody>
      <% article.comments.forEach(function(c) { %>
      <tr>
        <td class="table-cell"><%= c.content %></td>
        <% if (c.like) { %>
        <td class="table-cell">😃</td>
        <% } else { %>
        <td></td>
        <% } %>
        <td class="table-cell"><%= c.user%></td>
        <td class="table-cell"><%= c.createdAt.toLocaleDateString() %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } else { %>
  <br />
  <h5>No Comments Yet</h5>
  <% } %>
  <hr class="solid" />
  <form
    id="add-review-form"
    method="POST"
    action="/articles/<%= article._id %>/comments"
  >
    <textarea class="commentbox" name="content"></textarea>

    <br />
    <input type="submit" value="Add Comment" class="btn btn-primary" />
    <label
      ><input type="checkbox" name="like" value="1" />SMASH THAT LIKE
      BUTTON!!!</label
    >
  </form>
</div>

<%- include('../partials/tail') %>
