<%- include('../partials/head') %>
    <%- include('nav') %>
 
    <div class="container">
      <h1 class="mb-1"><%= article.title %></h1>
      <div class="text-muted mb-2"></div>
      <a href="/" class="btn btn-secondary">All Articles</a>
      <a href="/articles/edit <%= article.id %>" class="btn btn-info">Edit</a>
      <div>
        <%= article.description%> <%= article.markdown%><%= article.createdAt%>
      </div>
      <hr>
      <br><br><h2>Comment</h2>
      <% if (article.comments.length) { %>
        <table>
          <tbody>
            <% article.comments.forEach(function(c) { %>
              <tr>
                <td><%= c.content %></td>
                <td><%= c.createdAt.toLocaleDateString() %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          <% } else { %>
            <br>
            <h5>No Comments Yet</h5>
            <% } %>
            <br><br><br><hr style="color: black; height: 1px;">
            <form id="add-review-form" method="POST"
              action="/articles/<%= article._id %>/comments">
              
              <textarea name="content" style="width: 400px; height: 200px;"></textarea>
             
              </select>
              <br>
              <input type="submit" value="Add Comment">
            </form>
            
            
      </div>
    </div>
  </body>
</html>
